@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap&subset=chinese-traditional');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

@media screen and (min-width: 1500px) {
  .appScreen {
    margin-left: 16rem !important;
    margin-right: 12rem !important;
  }
}

.windDown {
  bottom: 240px;
  right: 0px;
}

@media screen and (min-width: 1024px) {
  .windDown {
    bottom: 130px;
    right: 160px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mobileHero {
    width: 50%;
    top: 300px;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .mobileHero {
    width: 50%;
    top: 365px;
  }
}

.section1 {
  margin-top: 45vh;
}

@media screen and (min-width: 640px) {
  .section1 {
    margin-top: 60vh;
  }
}

@media screen and (max-width: 640px) {
  #role-switch {
    margin-top: 100px;
  }
  .section1 {
    margin-top: 100px;
  }
}
